<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<%  } %>
</table>
<br />
<form method="get" action="/quizes">

	<label for="busq">Buscar pregunta</label>
	<input type="text" id="busq" name="search" />
	<input type="submit" value="Enviar">
</form>